.checkout-form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;display: flex;
    flex-direction: column;
    }
  
  
  .form-row {
    margin-bottom: 20px;
  }
  
  .pay-button {
    width: 100%;
    padding: 10px;
    background-color: #6772e5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pay-button:disabled {
    background-color: #bbb;
    cursor: not-allowed;
  }
  .stripe h1{
    text-align: center;
    padding: 100px;
    font-size: 32px;
  }
  .success-animation { margin:50px}

.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
    top: 5px;
    right: 5px;
   margin: 0 auto;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}

.succesPage{
  &__div{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 50px;
    padding-top: 0 !important;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  justify-content: center;align-items: center;
  h1{
    font-weight: bold;
  }
  span{
    font-size: 18px;
    
  };
  }
  a{
    color: white;
    border: none;
    background-color: orange;
    padding: 5px 10px;
    font-size: 24px;
    border-radius: 10px;
    margin-top: 20px;
  }
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;align-items: center;
}