* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

$main-color: #111111;
$second-color: #ffad00;

.col-3 { width: 25%; }
.col-4 { width: 33%; }
.col-5 { width: 41%; }
.col-6 { width: 50%; }
.col-7 { width: 59%; }

.nav {
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    width: 100%;
    img { height: 100%; }

    &__cart {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 25%;
        .loginA{
          border: 1px solid white;
          padding: 5px 10px;
          border-radius: 10px;
        }
        a {
          color: white;
          font-size: 24px;
          display: flex;
          justify-content: center;align-items: center;
          gap: 10px;
          position: relative;
          span{
            position: absolute;
            background-color: rgb(255, 23, 23);
            width: 20px;
            font-size: 15px;
            height: 20px;
            display: flex;
            justify-content: center;align-items: center;
            border-radius: 50%;
            left: 20%;
            top: -5%;
          }
          
          
          &:hover{
            color: $second-color;
          
          }
            
            i {
                font-size: 18px;
                color: white;
                transition: 0.3s;

                &:hover {
                    
                    color: #ffad00;
                }
            }
        }
    }

    &__tabs {
        margin-left: 150px;

        font-family: sans-serif;
        display: flex;
        align-items: center;

        ul {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            li {
                height: 100%;
                margin-top: 15px;

                a {
                    color: rgb(255, 255, 255);
                    font-size: 16px;
                    position: relative;
                    transition: 0.2s;
                    height: 100%;
                    text-decoration: none !important;
                    

                    .product {
                        &:hover {
                            .acordion {
                                height: 60vh;
                            }
                        }
                    }

                    &:hover {
                        color: #ffad00;
                    }

                    &::after {
                        content: ' ';
                        background-color: $second-color;
                        position: absolute;
                        top: -20px;
                        width: 0;
                        height: 1px;
                        left: 50%;
                        transform: translateX(-50%);
                        transition: width 0.2s ease-out;
                    }

                    &:hover::after {
                        width: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
}

nav {
    text-decoration: none !important;
    width: 100%;
    position: fixed;
    z-index: 999;
    .acordion, .acordion1 {
        width: 100%;
        display: flex;
        background-color: #111111;
        overflow: hidden;
        height: 0px;
        transition: height 0.6s ease-out;
        img { height: 700px; width: 200px; }

        ul {
            display: flex;
            flex-direction: column;
            h5 {
                font-size: 32px;
                margin-bottom: 60px;
            }
            padding: 50px 20px;
            margin-left: 100px;
            font-size: 24px;
            color: rgb(159, 159, 159);
            font-family: sans-serif;
            font-weight: 400;

            li { margin-bottom: 30px; }

            a {
                color: white;
                transition: 0.3s;
                text-decoration: none !important;

                &:hover {
                    color: #ffad00;
                }
            }
        }
    }
}
// --------------------
.off{
    display: none !important;
    background: none !important;
    border: none !important;
    font-size: 44px !important;
    margin-right: 30px;
}
.offcanvas-start {
    background-color:#111111 !important;
    width: 100% !important;

    .offcanvas-header {
      background-color: #343a40;
      color: white;
      h5{
        font-size: 42px !important;
      }

      .offcanvas-title {
        padding-left: 30px;
        font-size: 4.5rem;
      }

      .btn-close {
        color: white !important;
        padding-left: 20px;
        font-size: 24px;
      }
    }

    .offcanvas-body {
        padding-top: 30px !important;
      padding: 1rem;

      a {
        display: block;
        margin-bottom: 1rem;
        color: #007bff;
        text-decoration: none;
        font-size: 1.25rem;
      }
    }
  }

  .offcanvas {
    background-color: #111111;
    color: white;

    .offcanvas-header {
      h5 {
        padding-left: 30px;
        font-size: 24px;
      }
    }

    .offcanvas-body {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-left: 40px;

      a {
        font-size: 20px;
        color: white;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          color: #ffad00;
        }
      }
    }
  }

  .off-btn {
    padding-right: 100px;
    display: flex !important;
    background: transparent;
    border: none;
    justify-content: center;
    align-items: center;

    i {
      color: white;
      font-size: 32px;
    }
  }
@media only screen and (max-width: 1000px) {
    .nav {
.off{
    display: block !important;
}
  
      &__logo {
        img {
          width: 100%;
        }
      }
  
      &__cart {
        display: none;
        width: 15%;
  
        a {
          i {
            font-size: 24px;
            color: white;
            transition: 0.3s;
  
            &:hover {
              font-size: 32px;
              color: #ffad00;
            }
          }
        }
      }
  
      &__tabs {
        display: none;
      }
    }
  
  }
  


  @media only screen and (max-width: 400px) {
    .nav {
      .off{
        display: none !important;
        background: none !important;
        border: none !important;
        font-size: 24px !important;
        margin-right: 30px;
    }
      height: 50px;
.off{
    display: block !important;
}
  
      &__logo {
        img {
          width: 100px;
          height: 50px;
        }
      }
  
      &__tabs {
        display: none;
      }
    }
  
  }
  

  .user-menu{
    color: white;
    font-size: 28px;
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;justify-content: center;align-items: center;
    padding: 10px;
    transition: 0.2s;
    cursor: pointer;
    &:hover{
      color: orange;

    }
  }